/* Styles for CloudButton */
.cloud-button {
  height: 30px;
  width: 40px;
  cursor: pointer;
  transition: opacity 1s; /* Add transition for opacity with a duration of 1 second */
}

.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.box .off-cloud-wrapper {
  border: 0px none;
  height: 30px;
  overflow-x: hidden;
  width: 40px;
}

.box .off-cloud {
  height: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 40px;
  transition: opacity 1s; /* Add transition for opacity with a duration of 1 second */
}

.box .on-cloud {
  height: 40px; /* Change height to 40px to match the height of the "on" cloud in the previous code */
  left: 0;
  position: absolute;
  top: 0;
  width: 60px; /* Change width to 60px to match the width of the "on" cloud in the previous code */
  transition: opacity 1s; /* Add transition for opacity with a duration of 1 second */
}

/* Optional: Add styles for the parent container and the text-white class if necessary */
