.toggle {
  height: 163px;
  width: 652px;
}

.toggle .overlap-group {
  height: 177px;
  position: relative;
}

.toggle .rectangle {
  background-color: #d9d9d9;
  border-radius: 100px;
  height: 123px;
  mix-blend-mode: multiply;
  opacity: 0.01;
  position: absolute;
  width: 522px;
}

.toggle .cloud {
  height: 177px;
  mix-blend-mode: hard-light;
  position: absolute;
  top: 0;
  width: 275px;
}

.toggle .off {
  left: -7px;
  top: -3px;
  width: 659px;
}

.toggle .on {
  left: 130px;
  top: -9px;
  width: 529px;
}

.toggle .overlap-group.off .rectangle {
  left: 137px;
  top: 43px;
}

.toggle .overlap-group.on .rectangle {
  left: 0;
  top: 49px;
}

.toggle .overlap-group.off .cloud {
  left: 0;
}

.toggle .overlap-group.on .cloud {
  left: 254px;
}
